#ignore pycache 
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

#ignore DS_store
.DS_Store
.Rhistory
.snakemake

#data to ignore 
data/vaccine_strains/H3N2/*.fasta
data/gisaid_data/
data/HI_data/individual_HI_tables
data/references/

analysis/aunz_0023_sep_pp24_pd16
analysis/europe_0023_feb_pp24_pd16
analysis/us_0023_feb_pp24_pd16
analysis/antigenic_comparison/antigenic_maps/complete_maps
analysis/antigenic_comparison/HI_data/HI_antigen_seq_alignment.fasta
analysis/antigenic_comparison/HI_data/HI_antigen_sequences.fasta
analysis/phyclip_sensitivity